@use 'scss/theme/colors';
@use 'scss/theme/typography';



.mat-sidenav-container {
    height: 100%;
    background-color: inherit;
    color: inherit;

    .mat-sidenav {
        width: 360px;
        background-color: colors.surface();
        color: colors.on-surface-variant();
        padding: 0px 12px 0px 12px;
        
        @include typography.label-large;

        @media screen and (max-width: 1299px) {
            width: 80px;

            @include typography.label-medium;
        };

        @media screen and (max-width: 599px) {
            width: 65px;

            @include typography.label-small;
        };
    }

    .mat-mdc-list-item {
        height: 56px !important;
        padding-inline: 16px 24px;
        border-radius: 28px;
        
        @media screen and (max-width: 1299px){
            display: flex;
            flex-direction: column;

            padding-inline: 0px;
            border-radius: 16px;
            margin-bottom: 12px;
            padding-top: 4px;
        }

        .mat-mdc-list-item-icon {
            margin: 0 12px 0px 0px;
            padding: 0;
            color: colors.on-secondary-container();

            @media screen and (max-width: 1299px) {
                margin: 0px;
                padding-bottom: 4px;
            }
        }

        .mat-mdc-list-item-title {
            color: colors.on-surface-variant(); 
        }

        &.mat-mdc-list-item-active {
            background-color: colors.secondary-container();
            --symbol-fill: 1;
        }

        &.mat-mdc-list-item-interactive:before {
            background-color: currentColor;
            
        }

        &.mat-mdc-list-item-interactive:not(:focus):not(.mdc-list-item--disabled):hover::before {
            opacity: .08;
          }
    }

    .mat-sidenav-content {
        padding: 0px 16px 0px 16px;
        width: calc(100vw - 36px);

        @media screen and (max-width: 1299px) {
            padding-left: 16px;
        }

        @media screen and (max-width: 599px) {
            padding-left: 8px;
        }

        .mat-toolbar-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .authReg {
                display: flex;
                align-items: center;
            }
        }
    }
}